.b-situation {
    width: 1280px;
    margin: 0 auto;
    padding: 66px 0 98px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include respondCustom(0, 1280px) {
        width: 100%;
    }
}

.b-situationHead {
    width: 697px;
    text-align: center;
    font-family: $georgia-font;
    color: #1b325f;
    font-size: 25px;
    line-height: 30px;

    @include respondMin(smTo) {
        width: 100%;
    }

    &_marginBot {
        margin-bottom: 70px;
    }
}

@import "_slider";