.b-form {
    width: 1030px;
    margin: 0 auto;
    padding: 88px 0 48px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    @include respondMin(lgTo) {
        width: 100%;
    }
}

.b-formText {
    font-family: $georgia-font;
    color: #1b325f;
    font-size: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__text {
        &_bold {
            font-weight: bold;
        }

        &_red {
            color: red;
        }
    }

    &__text1 {
        letter-spacing: 0.1px;

        &_position {
            margin-bottom: 22px;
        }
    }

    &__text2 {
        width: 500px;

        @include respondMin(esTo) {
            width: 100%;
        }
    
        &_position {
            margin-bottom: -4px;
            line-height: 60px;
        }
    }

    &__text3 {
        width: 680px;
        letter-spacing: 0.2px;

        @include respondMin(smTo) {
            width: 100%;
        }

        &_position {
            line-height: 60px;
            margin-bottom: 20px;
        }
    }
}

@import "_formButton";
@import "_formArrow";
@import "_popup";