.b-formArrow {
    width: 54px;
    height: 70px;
    
    text-align: center;
    cursor: pointer;

    &_position {
        margin: 0 0 0 970px;

        @include respondMin(lgTo) {
            margin: 0;
        }
    }

    &:hover {
        &:after {
            content: 'на верх';
            font-family: $georgia-font;
            color: #1b325f;
            font-size: 12px;
        }
    }
}